body{
    font-size:0;
    background: url('graphics/skybackground.png') no-repeat;
}

.content-wrapper{
    width:90%;
    margin:auto;
}

h1{
    text-align:center;
    font-size:10vmin;
}

.layout{
    display:inline-block;
    width:30%;
    height:30vw;
    font-size:initial;
    vertical-align:top;
    text-align:center;
}
.player-panel{
    width:50%;
    height:100%;
    margin: auto;
    background-color: #e9e9e9;
    border-radius: 15%;
    border: 4px gray ridge;
    opacity: .8;
}
.player-panel > div{
    margin:1vmin;
}
.current-player-panel{
    font-size:initial;
    width:15%;
    margin:auto;
    background-color:salmon;
}
.current-player-indicator{
    box-shadow:
    0 0 60px 30px #fff
    /*0 0 100px 60px #f0f,*/
    /*0 0 140px 90px #0ff;*/
}
.game-area-wrapper{
    width:40%;
    display:inline-block;
    margin: auto;
}

/* GAME BOARD STYLING */
.game-area{
    display:flex;
    width: 30vw;
    height:30vw;
    justify-content:space-around;
    margin:auto;
}
.column {
    display:flex;
    flex-direction:column-reverse;
    width: 17%;
    justify-content:space-around;
    text-align:center;
    margin: 0 2px;
}
.cell {
    width: 100%;
    height: 100%;
    margin: 2px;
    border: 2px black solid;
    background: gray url("graphics/_ground/ground07.png") no-repeat;
    background-size: cover;
    position:relative;
}

.player-token{
    position:absolute;
    top:-700%;
    z-index:1;
    display:block;
    -webkit-transition-duration: 1000ms;
    -moz-transition-duration: 1000ms;
    -ms-transition-duration: 1000ms;
    -o-transition-duration: 1000ms;
    transition-duration: 1000ms;
}
.player-token.played{
    top:0;
}

.p1-token {
    width:100%;
    height:100%;
    background:url("graphics/blueToken.png") no-repeat;
    background-size:cover;
}
.p2-token{
    width:100%;
    height:100%;
    background:url("graphics/2PToken.png") no-repeat;
    background-size:cover;
}
button{
    position:absolute;
    top:2%;
    right:2%;
    font-size:initial;
}